@media only screen and (max-width: 600px) {
  .bg-img {
    background-image: url("/assets/images/Header-bg.png");
    background-repeat: repeat;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text figcaption {
    max-width: 50%;
    margin-top: 10px;
    margin-left: 164px;
    font-size: 18px;
  }
}

.bg-img {
  background-image: url("/assets/images/Header-bg.png");
  background-repeat: repeat;
}

.text {
  background-image: url("/assets/images/Header-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text figcaption {
  max-width: 50%;
  margin-top: 10px;
  margin-left: 164px;
  font-size: 18px;
}
