@media only screen and (max-width: 600px) {
  .text {
    background-image: url("/assets/images/Header-bg.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text figcaption {
    max-width: 50%;
    margin-top: 10px;
    margin-left: 214px;
    font-size: 20px;
  }
}

.text {
  background-image: url("/assets/images/Header-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text figcaption {
  max-width: 50%;
  margin-top: 10px;
  margin-left: 214px;
  font-size: 20px;
}
