.rec1 svg {
  width: "400";
  height: "180";
}

.rec1 rect {
  width: "20";
  height: "30";
  fill: #EBEBFF;
}

.content {
  display: flex;
  width: 100%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text h1 {
  margin-bottom: 11px;
}

.text p {
  justify-content: center;
  align-items: center;
  max-width: 42%;
  margin-left: 224px;
  margin-top: 0;
  font-size: 16px;
  font-family: system-ui;
}
